db
incremental_db
simulation
timing
greybox_tmp
*.jdi
*.pof
*.sld
*.rpt
*.summary
*.sof
*.done
*.pin
*.qws
*.bak
*.smsg
*.qws
*.vcd
*.qqq
*.jic
*.map
*.bin
*.hex
*.vcd
*.gtkw
.qsys_edit
undo_redo.txt
PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt
